:root {
  --color-background-primary: #ffffff;
  --color-background-secondary: #f5f4fa;
  --color-background-footer: #2f303a;
  --color-p: #757575;
  --color-text-title: #212121;
  --color-accent: #2196f3;
  --color-logo: #000000;
  --color-hover: #188ce8;
  --font-main: 'Roboto', sans-serif;
  --font-logo: 'Raleway', sans-serif;
}
html {
  box-sizing: border-box;
}
*,
*::before *::after {
  box-sizing: inherit;
}
.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--color-text-title);
  background-color: var(--color-background-primary);
  font-size: 14px;
  letter-spacing: 0.03em;
}
img {
  display: block;
}
.studia-link {
  color: var(--color-text-title);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  font-style: medium;
  letter-spacing: 0.02em;
  text-decoration: none;
  line-height: 1.14;
}
.studia-link:hover,
.studia-link:focus {
  color: #2196f3;
}
.studia-link.curent {
  color: var(--color-accent);
}
.main-nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item {
  margin-right: 50px;
}
.site-nav .logo {
  margin-right: 93px;
}
.site-nav .item .logo :last-child {
  margin-right: 0px;
}
.auto-nav {
  display: flex;
  margin-left: auto;
}
.auto-nav .item {
  margin-right: 50px;
}
.auto-nav .item :last-child {
  margin-right: 0px;
}
.portfolio-link {
  color: var(--color-text-title);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  font-style: medium;
  letter-spacing: 0.02em;
  text-decoration: none;
  line-height: 1.14;
}

.portfolio-link:hover,
.portfolio-link:focus {
  color: #2196f3;
}
.portfolio-link.curent {
  color: var(--color-accent);
}
.contact-link {
  color: var(--color-text-title);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  font-style: medium;
  letter-spacing: 0.02em;
  text-decoration: none;
  line-height: 1.14;
}
.link.current,
.contact-link:hover,
.contact-link:focus {
  color: #2196f3;
}
.link {
  text-decoration: none;
}
.mail-link {
  color: var(--color-p);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  font-style: medium;
  letter-spacing: 0.02em;
  text-decoration: none;
  line-height: 1.14;
}
.mail-link:hover,
.mail-link:focus {
  color: #2196f3;
}
.namber-link {
  color: #757575;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  font-style: medium;
  letter-spacing: 0.02em;
  text-decoration: none;
  line-height: 1.14;
}
.namber-link:hover,
.namber-link:focus {
  color: #2196f3;
}
.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--color-accent);
  line-height: 1.19;
}
.logo-header {
  color: var(--color-logo);
}
.logo-footer {
  color: var(--color-background-primary);
}
.title {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #ffffff;
  font-size: 44px;
  line-height: 1.36;
  text-align: Center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/*маржен почему то не работает*/
.image-item {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.image-item :last-child {
  margin: 0;
}
.subject-first {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: var(--color-text-title);
  letter-spacing: 0.03em;
  font-size: 36px;
  line-height: 1.17;
  text-align: Center;
}
.subject-second {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: var(--color-text-title);
  letter-spacing: 0.03em;
  font-size: 18px;
  line-height: 2;
}
.heading-text {
  color: var(--color-p);
  line-height: 1.71;
}
.employee {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: var(--color-text-title);
  font-style: Medium;
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
}
.job-title {
  color: var(--color-p);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.subject-text {
  color: var(--color-p);
  font-size: 16px;
  line-height: 1.9;
}
.heading-uppercase {
  text-transform: uppercase;
  line-height: 1.4;
  font-size: 14px;
}
.button {
  display: inline-block;
  background: var(--color-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--color-background-primary);
  min-width: 200px;
  height: 50px;
  border: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 1.9;
  text-align: Center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: var(--color-hover);
}
.section.black {
  background: var(--color-background-footer);
  color: rgb(255, 255, 255);
  text-align: center;
}
.section.grey {
  background: var(--color-background-secondary);
}
.button2 {
  background: #f5f4fa;
  min-width: 73px;
  height: 38px;
  color: #212121;
  border: 0;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.button2:hover,
.button2:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.button3 {
  min-width: 125px;
  height: 38px;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  border: 0;
  border-color: #f5f4fa;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.button3:hover,
.button3:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.button4 {
  min-width: 112px;
  height: 38px;
  background: #f5f4fa;
  border-radius: 4px;
  border: 0;
  border-color: #f5f4fa;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.button4:hover,
.button4:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.button5 {
  min-width: 103px;
  height: 38px;
  background: #f5f4fa;
  border-radius: 4px;
  border: 0;
  border-color: #f5f4fa;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.button5:hover,
.button5:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.button6 {
  min-width: 130px;
  height: 38px;
  background: #f5f4fa;
  border-radius: 4px;
  border: 0;
  border-color: #f5f4fa;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.button6:hover,
.button6:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.footer-black {
  color: rgb(255, 255, 255);
  background: #2f303a;
}
.map {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.03em;
  text-decoration: none;
  line-height: 1.71;
}
.map:hover,
.map:focus {
  color: #2196f3;
}
.contacts-footer {
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: medium;
  letter-spacing: 0, 03em;
  text-decoration: none;
  line-height: 1.71;
}
.contacts-footer:hover,
.contacts-footer:focus {
  color: #2196f3;
}

/*штука для скрытия текста*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
